*{
	margin: 0;
	padding: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	background-image: url('pic3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	background-position: center;	
	font-family: 'Crimson Text', serif;
	transition: all 25s ease-in-out;
	width: 100%;
	height: 100%;
}
.contact-div-form{
	margin-top: 30px;	
	max-width: 95%;
	margin: 0 auto;
}
.contact-form{
	margin-top: 20px; 
	transition: all 25s ease-in-out;
	text-align: left;
}
.contact-form h2{
	text-align: center;
	margin-top:30px;
	margin-bottom: 30px;  
}
.contact-freshers{
	font-size: 40px;
}
.contact-title{
	margin-bottom: 2%;
	font-size: 21px;
}
.contact-input{
	width: 50%;
	margin-bottom: 16px;
	height: 30px;
	border-radius: 15px;
}
.title1{
	margin-left: 1%;
}
.contact-select{
	font-size: 15px;
	border-radius: 10px;
}
.contact-heading{
	font-size: 22px;
}
.contact-input1{
	margin-bottom: 16px;
	margin-top: 16px;
}
.title3{
	display: inline-block;
}
.input5{
	min-height: 50px;
}
.contact-submit{
	background-color: rgba(230,227,220,0.85);
	width: 30%;
	font-family: 'Crimson Text', serif;
	font-weight: 700;
	font-size: 25px;
	border-radius: 15px;
	margin-bottom: 10px;
}
@media only screen and (min-width: 750px){

.contact-freshers{
	font-size: 50px;
}
.contact-div-form{
	margin-top: 40px;
	margin-left: 37%;	
	max-width: 60%;
}
.contact-from{
	margin-top: 30px;
}
.contact-form h2{
	text-align: center;
	margin-top:10px;
	margin-bottom: 20px;   
}
.contact-title{
	display: inline-block;
	padding-right: 5%;
	margin-bottom: 2%;
	font-size: 28px;
}
.contact-input{
	width: 43%;
	margin-bottom: 16px;
	height: 33px;
	border-radius: 10px;
}
.title1{
	margin-left: 15%;
}
.title2{
	margin-left: 15%;
}
.contact-input1{
	margin-bottom: 16px;
	margin-top: 16px;
}
.contact-select{
	margin-left: 22%;
	font-size: 21px;
	border-radius: 10px;
}
.input1{
	margin-left: 18%; 
}
.input2{
	margin-left: 11%; 
}
.input3{
	margin-left: 4%; 
}
.input5{
	margin-left: 15%;
	min-height: 50px;
}
.contact-heading{
	font-size: 28px;
}
.contact-submit{
	width: 30%;
	font-weight: 700;
	font-size: 25px;
	border-radius: 15px;
}
}



@media only screen and (min-width: 1200px){
.contact-freshers{
	font-size: 40px;
}
.contact-div-form{
	margin-top: 40px;
	margin-bottom: 0;
	margin-left: 37%;	
	max-width: 50%;
	align-items: center;
	position: relative;
}
.contact-form-detail{
	text-align: left;
}
.contact-form{
	margin-top: 30px; 

}
.contact-form h2{
	text-align: center;
	margin-top:10px;
	margin-bottom: 20px;  
}
.contact-input{
	width: 40%;
	margin-bottom: 16px;
	height: 27px;
	border-radius: 10px;
}
.contact-input1{
	margin-bottom: 16px;
	margin-top: 16px;
}
.contact-select{
	margin-left: 19%;
	font-size: 15px;
	border-radius: 10px;
}
.input1{
	margin-left: 14.5%; 
}
.input2{
	margin-left: 11%; 
}
.input3{
	margin-left: 8%; 
}
.input4{
	margin-left: 6%; 
}
.input5{
	margin-left: 15%;
	min-height: 50px;
}
.contact-title{
	display: inline-block;
	margin-right: 5%;
	font-size: 21px;
}
.title1{
	margin-left: 15%;
}
.title2{
	margin-left: 15%;
}
.contact-submit{
	width: 25%;
	font-family: 'Crimson Text', serif;
	font-weight: 700;
	font-size: 25px;
	border-radius: 15px;
	margin-bottom: 10px;
}
.contact-heading{
	font-size: 22px;
}

}