*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('pic31.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-align: center;	
	font-family: 'Crimson Text', serif;
	position: relative;
}
.contact-body{
	margin: 0 auto;
	width: 570px;
	text-align: center;
}
.contact-welcome {
	margin-top: 80px;
	text-transform: uppercase; 
	transition: all 4s ease-in-out;
}
.contact-welcome h1{
	transition: all 4s ease-in-out;
	font-size: 50px;
}
.contact-freshers{
	margin-top: 25px;
	font-size: 38px;
}
.contact-mccoy{
	margin-top: 20px;
	font-size: 30px;
	font-weight: 550;
}
#contact-button1{
	margin-top: 20px; 
	background: #ff5722;
	width: 25%;
	font-family: 'Crimson Text', serif;
	font-weight: 700;
	font-size: 25px;
	border-radius: 15px;
	width: 200px;
}
a{
	text-decoration: none;
}
